/// Estilos generales
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main-title {
  @apply text-primary-color mb-10 text-7xl text-center font-bold;
}
.secondary-title {
  @apply text-primary-color mb-10 text-4xl text-center;
}

// Estilos generales secciones
.header {
  .nav-link {
    @apply text-secondary-color text-base rounded-sm;

    &:hover {
      @apply text-secondary-color bg-contrast-color;
    }
  }
}

body {
  padding: 0; 
  margin: 0;
  overflow-x: hidden;
  font-family: $primary-font;
}

button {
  font-family: $primary-font !important;
}

main, .header__inner, .footer__inner  {
  padding-left: 2rem; 
  padding-right: 2rem;
  color: map-get($colors, primary-color); 
  width: 90%; 
  margin: 0 auto; 
}

// Inicio
@supports (display: grid) {
  .chessboard__sup,
  .chessboard__inf {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 80px;
    margin: 0 auto;
  }

  .chessboard__sup .square:nth-child(odd),
  .chessboard__inf .square:nth-child(even) {
    background-color: #000;
  }
}

// Miembros
  .member__container {
    @apply flex flex-wrap gap-20 justify-center mt-large-space mb-large-space;

  .card {
    @apply border-none rounded-images bg-card-bg-color text-primary-color overflow-hidden w-1/4 p-5 flex flex-col justify-between;

    &__img {
      @apply object-cover mb-6 mx-auto;
    }
    &__title {
      @apply text-black text-left border-b-2 border-contrast-color pb-1 mb-6 text-2xl font-medium leading-tight inline-block font-bold;
    }
  }
}

/* Para tablets */
@supports (display: grid) {
  @media (max-width: 1024px) {
    .chessboard__sup,
    .chessboard__inf {
      grid-template-columns: repeat(10, 1fr);
    }
  }
}

/* Para móviles */
@supports (display: grid) {
  @media (max-width: 768px) {
    .chessboard__sup,
    .chessboard__inf {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@media (max-width: 768px) { /* Móvil */
  .card {
    width: 100% !important;
  }
  .main-title {
    @apply text-3xl
  }
  
}

/* Fallback para navegadores sin soporte para grid */
@supports not (display: grid) {
  .chessboard__sup,
  .chessboard__inf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .square {
    box-sizing: border-box;
    width: 4%;
    padding-bottom: 4%;
    position: relative;
  }

  .square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .square:nth-child(odd) {
    background-color: #000;
  }
}




