<footer class="bg-primary-color px-4 py-8 md:px-6">
  <div class="footer__inner flex flex-wrap items-center justify-center flex-col md:flex-row md:justify-between">
    <div class="flex-shrink-0 mb-4">
      <a href="./index.html" class="logo"><img src="./assets/images/peon.png" alt="Logo" class="w-12 md:w-16"></a>
    </div>
    <nav class="ml-4 mb-4 md:mb-0">
      <ul class="flex flex-col items-center md:flex-row md:space-x-4">
        <li><a href="./index.html" class="nav-link text-link-color no-underline">Inicio</a></li>
        <li><a href="./miembros.html" class="nav-link text-link-color no-underline">Miembros</a></li>
      </ul>
    </nav>
    <div>
      <a href="https://github.com/albbmg/HerramientasHTMLyCSSIIPEC3" target="_blank" class="text-link-color"><i class="fab fa-github"></i></a>
      <a href="#" class="text-link-color"><i class="fab fa-twitter"></i></a>
      <a href="#" class="text-link-color"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="mt-6">
    <p class="text-link-color mt-4 md:mt-0 text-center md:text-center">&copy; 2023 Desarrollado por Alba Muñoz García</p>
  </div>
</footer>
