<header class="header bg-primary-color p-2">
  <div class="container header__inner">
    <div class="flex flex-col md:flex-row items-center">
      <div class="w-1/2 md:w-6/12 flex items-center justify-center md:justify-start mb-5">
        <a href="./index.html" class="logo">
          <img src="./assets/images/peon.png" alt="Logo" class="header__logo w-20">
        </a>
      </div>
      <div class="w-1/2 md:w-6/12 flex items-center justify-end">
        <nav class="flex">
          <div class="navbar-collapse md:block">
            <ul class="navbar-nav flex justify-end flex-col md:flex-row justify-center text-center">
              <li class="nav-item active">
                <a class="nav-link mx-6 no-underline p-4" href="./index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-6 no-underline p-4" href="./miembros.html">Miembros</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
