<div class="chessboard__sup grid grid-cols-22 gap-0">
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
  </div>
  <div class="chessboard__inf grid grid-cols-22 gap-0">
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
    <div class="square bg-primary-color"></div>
    <div class="square bg-secondary-color"></div>
  </div>