@use "sass:color";

/* Fuentes */
$primary-font: 'Montserrat', sans-serif;

/* Colores principales */
$colors: (
  primary-color: #000,
  secondary-color: #FFF,
  contrast-color: #0c7, 
  link-color: #a3a3a3, 
  gradient: gradient(#0c7, #0662a0, 45deg),
); 

/* Variables personalizadas para la card */
$card-bg-color: #f8f9fa;
$card-border-color: map-get($colors, contrast-color);
$card-border-radius: 0.5rem;
$card-text-color: map-get($colors, primary-color);